<footer class="bg-dark text-white mt-3">
        <div class="container-fluid py-3">
           <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3"><a href="/assets/faq.html" target="_blank">FAQ</a></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3"><a href="/assets/terms.html" target="_blank">Terms and Conditions</a></div>
              <div class="col-sm-2"></div>
           </div>
           <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3"> <a href="mailto:webmaster@blogspace.com">Contact Us</a></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
               <a href="/assets/privacy.html" target="_blank">Our Privacy Policy</a>
              </div>
              <div class="col-sm-2"></div>
           </div>
           <div class="row" id="copyright">
              <div class="col-sm-5"></div>
              <div class="col-sm-2">Copyright &copy; 2018 BlogSpace</div>
              <div class="col-sm-5"></div>
           </div>
        </div>
</footer>
