<div class="jumbotron vertical-center">
        <div class="container">
            <div class="col-md-8 col-xs-12">
<h1 class="page-header" style="margin-top: 20px;">Profile</h1>
<div [ngClass]="messageClass">
  {{ message }}
</div>
<h5>Username: {{username}} </h5>
<h5>Email: {{email}} </h5>

<h5><label for="aboutUser">About User: </label> {{aboutUser}}</h5>
<br/>

<textarea class="textArea" name="aboutUser" [(ngModel)]="aboutUser"></textarea>
<br/>
<button type="saveButton" name="saveButton" class="btn btn-sm btn-info" (click)="saveAboutUser(aboutUser)">Save</button>
</div>
</div>
</div>