<!-- Topics -->
<div class="container">
        <div class="row" >
           <h2><span class="badge badge-secondary">World</span></h2>
           <div class="col-md-4 col-sm-6">
              <div class="card">
                 <img class="card-img-top" src="/assets/img4.jpg" alt="Globe" style="width:100%; height:300px">
                 <div class="card-body">
                    <h4 class="card-title">Globe</h4>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.s</p>
                    <a href="#" class="btn btn-primary">Visit Page</a>
                 </div>
              </div>
           </div>
           <h2><span class="badge badge-secondary">Technology</span></h2>
           <div class="col-md-4 col-sm-6">
              <div class="card">
                 <img class="card-img-top" src="/assets/img7.jpg" alt="iPhone X" style="width:100%; height:300px">
                 <div class="card-body">
                    <h4 class="card-title">iPhone X</h4>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="btn btn-primary">Visit Page</a>
                 </div>
              </div>
           </div>
           <h2><span class="badge badge-secondary">Health</span></h2>
           <div class="col-md-4 col-sm-6">
              <div class="card">
                 <img class="card-img-top" src="/assets/img10.jpg" alt="Healthy Breakfast" style="width:100%; height:300px">
                 <div class="card-body">
                    <h4 class="card-title">Healthy Breakfast</h4>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="btn btn-primary">Visit Page</a>
                 </div>
              </div>
           </div>
        </div>
        <div class="row" >
           <h2><span class="badge badge-secondary">Science</span></h2>
           <div class="col-md-4 col-sm-6">
              <div class="card">
                 <img class="card-img-top" src="/assets/img13.jpg" alt="Science" style="width:100%; height:300px">
                 <div class="card-body">
                    <h4 class="card-title">Science</h4>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="btn btn-primary">Visit Page</a>
                 </div>
              </div>
           </div>
           <h2><span class="badge badge-secondary">Travel</span></h2>
           <div class="col-md-4 col-sm-6">
              <div class="card">
                 <img class="card-img-top" src="/assets/img16.jpg" alt="Beach Life" style="width:100%; height:300px">
                 <div class="card-body">
                    <h4 class="card-title">Beach Life</h4>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="btn btn-primary">Visit Page</a>
                 </div>
              </div>
           </div>
        </div>
</div>
     <footer class="bg-dark text-white mt-3">
        <div class="container-fluid py-3">
           <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3">Help and Information</div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">Legal</div>
              <div class="col-sm-2"></div>
           </div>
           <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3">FAQ</div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">Terms and Conditions</div>
              <div class="col-sm-2"></div>
           </div>
           <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3">Contact Us</div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">Our Privacy Policy</div>
              <div class="col-sm-2"></div>
           </div>
           <div class="row" id="copyright">
              <div class="col-sm-5"></div>
              <div class="col-sm-2">Copyright &copy; 2018 Blogeeer</div>
              <div class="col-sm-5"></div>
           </div>
        </div>
     </footer>
     <script src="/assets/https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="/assets/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
     <script src="/assets/https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });
     </script>
     /* You can add global styles to this file, and also import other style files */
     .container {
     margin-top: 100px;
     }
     .carousel-inner img {
     width: 100%;
     height: 100%;
     opacity: 0.9;
     }
     @media(min-width: 768px) {
     .field-label-responsive {
     padding-top: .5rem;
     text-align: right;
     }
     }
     .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }
     .modal-content {
     background-color: #fefefe;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
     }
     .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     }
     .close:hover,
     .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
     }
     #copyright{
     font-family: Georgia, "Times New Roman", serif;
     font-style: italic;
     font-size: 70%;
     text-align: center;
     }