<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-9 col-sm-6">
<h1 class="page-header" style="margin-top: 20px;">About BlogSpace</h1>

<img src="/assets/img20.jpg" class="img-fluid rounded mx-auto d-block imgAbout" alt="About Blogs" ><br/><br/>
<h3>A customizable reading experience, made just for you</h3>
<p>   With the power of the network, different ways to engage with stories, and the ability to follow your favorite topics, writers, you’re in control of your reading experience. So the stories that matter most to you are always at your fingertips.</p><br/><br/>
<h1>A platform built for...</h1>
<img src="/assets/img21.jpg" class="img-fluid rounded mx-auto d-block imgAbout" alt="About Blogs" >

</div>
</div>
</div>
</div>
